/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
/*     font-family: consolas; */
    
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 0%, rgba(0,212,255,1) 85%);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    cursor: pointer;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
    cursor: pointer;
}

/* menu btn styling */
.menu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
  
    background: linear-gradient( to left, rgba(231, 235, 219, 0.8), rgba(87, 232, 225, 0.8) );
    height: auto;
    color: #000;
    min-height: auto;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 30px;
}
.home .home-content .text-2{
    font-size: 55px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content .text-4 {
    font-size: 20px;

    max-width: 60%;
    margin: 15px 0;
    font-weight: 300;
}
.home_image img{
  width: 300px;
  height: 450px;
}
.classbox
{
    position: relative;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 25px;
    margin-top: 45px;
    cursor: pointer;
}
.classbox::before
{
    content: '';
    position: absolute;
    width: 38px;
    height: 300%;
    border-radius: 0;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate-rotate 4s linear infinite;
   
}
.classbox::after
{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    /* background: crimson; */
    border-radius: 20px;
}
@keyframes animate-rotate 
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.classbox a
{
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    z-index: 10;
    cursor: pointer;
}

/* about section styling */
.about{
    background: linear-gradient( to left, rgba(231, 235, 219, 0.8), rgba(87, 232, 225, 0.8) );
}
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 350px;
    width: 300px;
    /* object-fit: cover; */
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
     display: inline-block;
    /* background: crimson;  */
    color: crimson;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease-in-out; 
    
    
}
.about .about-content .right a:hover{
   color: white;
    background: crimson;

} 


/* //services section styling */
 .services, .teams{
    color:#fff;
    background: linear-gradient( to left, rgba(231, 235, 219, 0.8), rgba(87, 232, 225, 0.8) );
}





/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tech-stack{
    width: 100%;
    margin: auto;
    padding: 5% 10%;
    height:auto;
   
   display: flex;
   flex-flow:  wrap;
   gap: 35px;


}
#express{
    width:80%;

    margin-top:30px;
    margin-bottom:22px
}
.tech-stack div{
   width:15%;
   
   
    text-align: center;
}
.tech-stack img{
  width:80%
}
.tech-stack p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    /* background: crimson; */
    color: crimson;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: 0.3s ease-in-out;
}
.skills .skills-content .left a:hover{
    color: white;
    background: crimson;
}
.skills .skills-content .left p #link
{
    border: none;
    text-decoration: none;
    color: crimson;
}

.skills .skills-content .left p #link:hover
{
    color: crimson;
    /* text-transform: uppercase; */
    text-decoration: underline;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #2B58E1;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 80%;
}
.skills-content .right .mysql::before{
    width: 55%;
}
.skills-content .right .wordpress::before{
    width: 75%;
}
.techstackheading{
   color: black;
  margin: auto;
   
   margin-top: 50px;
    padding: 5px;
    border-radius: 10px
    ;
}


.techstackheading .title::after{
    content: "Tech -Stack";
}
.github_record .title::after{
    content: "Github Commit";
}
.github_record{
    width: 100%;
    margin: auto;
    height: auto;
   
}
.github_record img{
    width: 100%;
    height: 100%;
}
/* projects section styling */
.project_section{
    width: 100%;
    height: auto;
    
    background: linear-gradient(to left, rgba(231, 235, 219, 0.8), rgba(87, 232, 225, 0.8));
}
.project_container .title::after{
    content: "Projects Done";
}
.project_card_con{
    width: 100%;
    height: 600px;
   
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.project_card{
      width: 26%;
      height: auto;
      border: 2px solid teal;
      background: #222;
     margin: auto;
     text-align: center;
     padding: 20px 10px;
}
.pro_img img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15%;
    border: 5px solid #007FFF;
    transition: all 0.3s ease;
}
.pro_img:hover img{
    border-color: #fff;
}
.pro_desp .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: white;
}
.pro_desp .desp{
    height: 130px;
    padding: 10px;
    color: white;
    text-align: center;
  
}
.pro_button .project
{
    display: inline-block;
    color: #72A0C1;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 10px;
    margin-top: 20px;
    margin-left: 20px;
    
    border: 2px solid #72A0C1;
    transition: 0.3s ease-in-out;
}
.pro_button .project:hover{
    color: black;
    background: #72A0C1;
}
.pro_tect_stack{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    
}
.pro_tect_stack div{
    color: whitesmoke;
    font-size: 35px;
    margin: auto;
    padding: 5px;
  
}
.pro_tect_stack div>p{
    font-size: 14px;
}



/* c
/* contact section styling */
input,textarea
{
    caret-color: red;
}
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
} 
.right form .button-area button{
  color: crimson;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid crimson;
  transition: all 0.3s ease-in-out;
}
.right form .button-area button:hover{
  color: white;
  background: crimson;
}
/* footer section styling */

footer
{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer h2
{
    margin-bottom: 12px;
    color: #fff;
    font-size: 2em;
}
.Home_media_box{
   width: 100px;
 
   
}
#Home_media {
   
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#Home_media li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;


}
#Home_media  li a
{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s ease-in-out;

}
#Home_media  li:hover
{
    z-index: 100000;
    transform: scale(0.75);
    transform: translateY(-10px);
}
#Home_media  li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
#Home_media  li:hover::before
{
  inset: 0px;
}
#Home_media  li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background:var(--bg);
    transform: rotate(45deg);
}

#media {
    position: relative;
    display: flex;
    gap: 50px;
}
#media li
{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;


}
#media  li a
{
    position: relative;
    text-decoration: none;
    color: var(--clr);
    z-index: 10;
    font-size: 2em;
    transition: 0.5s ease-in-out;

}
#media  li:hover
{
    z-index: 100000;
    transform: scale(0.75);
    transform: translateY(-10px);
}
#media  li::before
{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}
#media  li:hover::before
{
  inset: 0px;
}
#media  li::after
{
    content: '';
    position: absolute;
    inset: 0;
    background:var(--bg);
    transform: rotate(45deg);
}
footer p
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
footer p a
{
    text-decoration: none;
    color: black;
    font-size: 1em;
    transition: 0.5s ease-in-out;
}
footer p a:hover
{
    text-decoration: underline;
    color: rgb(5, 1, 1);
    font-size: 1.2em;
    transform: rotateX(10px);
}
footer .wave
{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://ftl.deekshith.eu.org/354310/None?hash=AgADY7");
    background-size: 1000px 100px;
}
footer .wave#wave1
{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave2
{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 1000;
    opacity: 0.2;
    bottom:15px;
    animation: animatewave 3s linear infinite;
}
footer .wave#wave4
{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 3s linear infinite;
}
@keyframes animatewave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animatewave_02
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/* pr loader design  */
#preloader
{
    background:url("img/e3a.gif") no-repeat center ;
    background-size: 15%;
    filter: invert(100%);
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    /* border-radius: 12px; */
}
/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .navbar .logo a{
        color: #000;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
    }
    .home .home-content .text-2{
        font-size: 40px;
        line-height: 50px;
    }
    .project_card{
        width: 30%;
        
  }
  .pro_desp .desp{
    height: 140px;
 
   }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    .navbar .logo a{
        color: #000;
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
    }
    .project_card{
        width: 30%;
        
  }
  .pro_desp .desp{
    height: 140px;
 
   }
   .pro_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pro_button .project
{
    
    font-size: 15px;
    padding: 8px 8px;
    margin-top: 20px;
    margin-left: 20px;

}
}
@media (max-width: 947px){
   
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 50%;
        left: -100%;
        top: 0;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 0%, rgba(0,212,255,1) 85%);
        text-align: left;
        padding-left: 100px;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar .logo a{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.home .home-content .text-2{
    font-size: 30px;
    line-height: 50px;
}
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content .text-4 {
        font-size: 20px;
    
        max-width: 80%;
        margin: 15px 0;
        font-weight: 300;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .home_image img{
        width: 280px;
        height: 350px;
      }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .tech-stack p{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      #express{
        width:80%;
    
        margin-top:10px;
        margin-bottom:15px
    }
    .project_card{
        width: 30%;
        
  }
  .pro_desp .desp{
    height: 120px;
     font-size: 12px;
   }
   .pro_tect_stack div{
    color: whitesmoke;
    font-size: 20px;
    margin: auto;
    padding: 5px;
  
}
.pro_tect_stack div>p{
    font-size: 10px;
}
.pro_button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pro_button .project
{
    display: inline-block;
    color: #72A0C1;
    font-size: 10px;
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 8px;
    margin-top: 20px;
    margin-left: 20px;
    
    border: 2px solid #72A0C1;
    transition: 0.3s ease-in-out;
}
}

@media (max-width: 690px) {
   
    .max-width{
        padding: 0 23px;
    }
    .home_image{
        display: none;
    }
    .home .home-content .text-2{
        font-size: 25px;
    }
    .home .home-content .text-3{
        font-size: 20px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .classbox
    {
            width: 153px;
            height: 88px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 50%;
        left: -100%;
        top: 0;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 0%, rgba(0,212,255,1) 85%);
        text-align: left;
        padding-left: 50px;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .about .about-content .left img{
        height: 300px;
        width: 250px;
        /* object-fit: cover; */
        border-radius: 6px;
    }
    .tech-stack p{
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      #express{
        width:80%;
    
        margin-top:10px;
        margin-bottom:15px
    }
    .project_card_con{
      display: inline-block;
    }

    .project_card{
        width: 70%;
        height: auto;
        border: 2px solid teal;
        background: #222;
       margin: auto;
       margin-top: 15px;
       text-align: center;
       padding: 20px 10px;
  }
  
 
 
  .pro_desp .desp{
      height: 130px;
      padding: 10px;
      color: white;
      text-align: center;
      font-size: 17px;
    
  }
  .pro_button .project
  {
      display: inline-block;
      color: #72A0C1;
      font-size: 15px;
      font-weight: 500;
      border-radius: 6px;
      padding: 8px 10px;
      margin-top: 20px;
      margin-left: 20px;
      
      border: 2px solid #72A0C1;
      transition: 0.3s ease-in-out;
  }
  .pro_button .project:hover{
      color: black;
      background: #72A0C1;
  }
  .pro_tect_stack{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-top: 20px;
      
  }
  .pro_tect_stack div{
      color: whitesmoke;
      font-size: 35px;
      margin: auto;
      padding: 5px;
    
  }
  .pro_tect_stack div>p{
      font-size: 14px;
  }
  
    


}

@media (max-width: 500px) {
    .navbar .logo a{
        color: black;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
    }
    .classbox{
        height: 50px;
    }

    .home{
        height: auto;
         
        flex-direction: column;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .about .about-content .left img{
        height: 250px;
        width: 200px;
        /* object-fit: cover; */
        border-radius: 6px;
    }
    .home .home-content .text-2{
        font-size: 30px;
        line-height: 50px;
    }
    .home .home-content .text-1{
        font-size: 20px;
    }
    .tech-stack p{
        font-size: 7px;
        font-weight: 200;
        margin-bottom: 10px;
      }
      #express{
        width:80%;
    
        margin-top:10px;
        margin-bottom:5px
    }
    .about .about-content .right a{
     
     
       font-size: 12px;
       font-weight: 300;
       padding: 10px 10px;
       margin-top: 20px;
       border-radius: 5px;
       border: 2px solid crimson;
       
       
       
   }

   .pro_desp .desp{
    height: 130px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
  
}
.pro_button .project
  {
      display: inline-block;
      color: #72A0C1;
      font-size: 10px;
      font-weight: 500;
      border-radius: 6px;
      padding: 8px 10px;
      margin-top: 20px;
      margin-left: 20px;
      
      border: 2px solid #72A0C1;
      transition: 0.3s ease-in-out;
  }
  .pro_tect_stack div{
    
    font-size: 25px;
    margin: auto;
    padding: 5px;
  
}
.pro_tect_stack div>p{
    font-size: 10px;
}
.github-profile-bio {
   display: none;
  }

}



#github-stats {
    margin: 2rem 0;
  }
  
  #github-stats h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .github-profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  #profileimg {
     width: 210px;
  }
  
  .github-profile-info {
    flex: 1;
  }
  
  .github-profile-username {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .github-profile-bio {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .github-profile-link {
    display: inline-block;
    font-size: 1rem;
    background-color: #24292e;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  
  .github-profile-link:hover {
    background-color: #0366d6;
  }
  
  .github-stats-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .github-stats-list li {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 0.25rem;
  }
  
  .github-stats-number {
    font-size: 2rem;
    font-weight: bold;
    display: block;
  }
  
  .github-stats-label {
    font-size: 1rem;
  }
  

